In [1]:
import pandas as pd 
data = pd.read_csv('/Users/badrkhamis/Desktop/python_code/blocks_analysis/22.csv')
# print data.head()

In [2]:
#create random dataframe 
import pandas as pd 
import numpy as np 
time = pd.date_range('1/1/2007', periods= 3000, freq ='5min')

In [3]:
series = pd.Series(np.random.randint(100,size=3000), index = time)

In [7]:
series.head().max()
series.groupby(series.index.hour).mean()

0     48.651515
1     54.613636
2     48.621212
3     46.507576
4     49.348485
5     45.977273
6     52.393939
7     44.545455
8     53.598485
9     46.795455
10    51.758333
11    49.475000
12    49.633333
13    49.691667
14    49.766667
15    53.933333
16    49.483333
17    48.616667
18    52.483333
19    51.458333
20    48.558333
21    53.858333
22    50.825000
23    45.016667
dtype: float64

In [10]:
import re

s = '82.00\n    '
result = re.findall(r'\d+\.\d{1,2}', s)
print result.pop()

82.00

In [14]:
raw_data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong']}
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])
def score_to_numeric(x):
    if x=='strong':
        return 3
    if x=='normal':
        return 2
    if x=='weak':
        return 1
df['score_num'] = df['score'].map(lambda x:score_to_numeric(x))
# df['score_num'] = df['score'].apply(score_to_numeric)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>patient</th>
      <th>obs</th>
      <th>treatment</th>
      <th>score</th>
      <th>score_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>strong</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>weak</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>normal</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>weak</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>strong</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
# !pip install pygeocoder
from pygeocoder import Geocoder
data = {'Site 1': '31.336968, -109.560959',
        'Site 2': '31.347745, -108.229963',
        'Site 3': '32.277621, -107.734724',
        'Site 4': '31.655494, -106.420484',
        'Site 5': '30.295053, -104.014528'}
df = pd.DataFrame.from_dict(data, orient='index')
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in df[0]:
    # Try to,
    try:
        # Split the row by comma, convert to float, and append
        # everything before the comma to lat
        lat.append(float(row.split(',')[0]))
        # Split the row by comma, convert to float, and append
        # everything after the comma to lon
        lon.append(float(row.split(',')[1]))
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
df['latitude'] = lat
df['longitude'] = lon

In [20]:
results = Geocoder.reverse_geocode(df['latitude'][2], df['longitude'][2])

In [21]:
results.coordinates
results.city

u'Deming'